# macOS system files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Other common files to ignore
*.log
*.swp
*.bak

